//* plaster

@font-face {
  font-family: 'Plaster';
  src: url('../fonts/Plaster-Regular.woff2') format('woff2'),
      url('../fonts/Plaster-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//*
